body{
    background-image: url("https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    background-color: cornflowerblue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
#h{
    background-color:lightseagreen;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 2;
   
}
.h2{
    margin-left: 15px;
    text-transform: capitalize;
}
a{
    margin-left: 0.5rem;
}
.div1{
    position: absolute;
    bottom: 2.5rem;
    margin-left: 80%;
}

#div2{
    background: linear-gradient(to right, rgb(240, 7, 228),rgb(204, 102, 12),rgb(6, 238, 95));
     width: 98%;
     height: 100px;
     margin-top: 150px;
     position:fixed;
     left: 10px;
     border-radius: 10px;
     z-index: 1;
     top: -30px;
     color: white;
}
.p1{
    margin-top: 14px;
    position: absolute;
    left: 10px;
}
.p2{
    position: absolute;
    margin-top: 40px;
    left: 35%;
}
.p3{
    position: absolute;
    margin-top: 65px;
    left: 68%;
}
#div3{
    background-color: rgb(224, 178, 178);
    margin-top: 240px;
    padding: 2% 2% 2%;
    border: 3px solid black;
    border-radius: 1%;
    
}
.img1{
    margin-top: 1%;
    border:3px solid black ;
    object-fit: scale-down;
    height: 177px;
}
#img1{
   height: 177px;
  margin-left:35%;
}
.img2{
    border:3px solid black ;
    margin-top: 3px;
    object-fit: fill;
   
}
#img2{
    object-fit: fill;
    width:1187px ;
    height:177px;
}
.img3{
    border:3px solid black ;
    margin-top: 3px;
}   
#img3{
    object-fit: cover;
    width:1187px ;
    height:179px;
}
.footer{
    background-color: cadetblue;
    position:absolute;
    left: 0;
    right: 0;
    z-index: 2;
    color: white;
    font-size: 40px;
    font-style: italic;
    padding: 3px 3px 3px 90px;
    margin-top: 20px;
    border: 3px solid black;

}

    
  
  
